body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 20px; }
  body nav, body footer.page-footer {
    background-color: black; }
    body nav #logo, body footer.page-footer #logo {
      padding-left: 10px;
      color: #F8D480; }
  body #header {
    min-height: 500px;
    background-color: grey;
    background-image: url("/message.jpg");
    background-position: center;
    background-size: cover; }
  body main {
    flex: 1 0 auto; }
    body main #topcard {
      margin-top: -80px; }
      body main #topcard h2 {
        text-align: center; }
      body main #topcard #author {
        font-style: italic; }
      body main #topcard #commentLine {
        height: 2px;
        color: black;
        background-color: black; }

.user {
  font-size: 10px;
  color: teal; }
